[submodule "support/metaschema-xslt"]
	path = support/metaschema-xslt
	# temporarily until https://github.com/usnistgov/metaschema-xslt/pull/3/files is merged
	url = https://github.com/wendellpiez/metaschema-xslt.git
[submodule "support/OSCAL"]
	path = support/OSCAL
	url = https://github.com/usnistgov/OSCAL.git
	fetchRecurseSubmodules = false