[submodule "support/metaschema-xslt"]
	path = support/metaschema-xslt
	url = https://github.com/usnistgov/metaschema-xslt.git
[submodule "revisions/1.0.4"]
	path = revisions/1.0.4
	url = https://github.com/usnistgov/OSCAL.git
	shallow = true
	fetchRecurseSubmodules = false